@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bfont: 'Londrina Solid', cursive;
    --bleu-color-1: #28dbdb;
    --bleu-color-2: #15036e;
    --red-color: #ff2e6c;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}

/* partie nav */
/* ------------------------------------------------------------- */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav img {
    width: 110px;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--bfont);
    color: var(--bleu-color-2);
}

nav ul li a i {
    font-size: 30px;
    color: var(--bleu-color-1);
}

/* -------------------------------------------------------------- */

/* partie header */
/* -------------------------------------------------------------- */

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


header section {
    width: 100%;
    display: flex;
    min-height: 510px;
    flex-direction: column;
    background-position: center;
    background: url(img/background.gif);
}

header h1 {
    color: white;
    font-size: 42px;
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--bfont);
}

header section p {
    display: flex;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    line-height: 50px;
    align-items: center;
    flex-direction: column;
    font-family: var(--bfont);
    text-transform: uppercase;
}

#spp {
    width: 90%;
    padding: 20px 50px;
    text-transform: uppercase;
    background-color: var(--red-color);
    color: rgba(255, 255, 255, 0.562);
    font-family: Arial, Helvetica, sans-serif;
}

header button {
    width: 10%;
    border: none;
    color: black;
    background-color: var(--bleu-color-1);
    text-transform: uppercase;
}

/* -------------------------------------------------------------- */

/* partie main */
/* -------------------------------------------------------------- */

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main section {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

main section h2 {
    font-size: 32px;
    font-family: var(--bfont);
    text-transform: uppercase;
    color: var(--bleu-color-2);
}

main section p {
    color: var(--bleu-color-2);
    font-family: var(--bfont);
    display: flex;
    flex-direction: column;
    font-weight: 100;
    align-items: center;
    text-transform: uppercase;
    margin: 80px 0px;
    line-height: 0.7cm;
}

main section article {
    width: 100%;
    display: flex;
    margin: 40px 0px;
    align-items: center;
    flex-direction: column;
}

main section article i {
    font-size: 50px;
    margin-bottom: 5px;
    color: var(--red-color);
}

main section article h2 {
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    color: var(--red-color);
    text-transform: uppercase;
}

main section article h2 span {
    font-size: 30px;
    margin-top: 15px;
    color: var(--bleu-color-1);
}

main section article p {
    width: 100%;
    display: flex;
    margin: 25px 0px;
    font-weight: 100;
    flex-direction: column;
    justify-content: right;
    font-family: var(--bfont);
    text-transform: uppercase;
    color: var(--bleu-color-2);
    line-height: 0.7cm;
    align-items: start;
}

/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bleu-color-2);
}

footer ul {
    list-style: none;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

footer ul li {
    margin-top: 30px;
}

footer ul li a {
    text-decoration: none;
    font-family: var(--bfont);
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

footer img {
    width: 100px;
    margin: 15px;
}

footer small {
    font-family: var(--bfont);
    color: white;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}