@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bfont: 'Londrina Solid', cursive;
    --bleu-color-1: #28dbdb;
    --bleu-color-2: #15036e;
    --red-color: #ff2e6c;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ---------------------------------------------------- */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav img {
    width: 120px;
    margin: 20px;
}

nav ul li a i {
    margin: 5px;
    font-size: 30px;
    color: var(--bleu-color-1);
}

nav ul li a {
    margin: 15px;
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    font-family: var(--bfont);
    text-transform: uppercase;
    color: var(--bleu-color-2);
}

@media (min-width:1000px) {
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    nav ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 25px;
    }

    nav ul li a i {
        font-size: 35px;
    }
}

/* ---------------------------------------------------- */
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section {
    width: 80%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}

main section div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main section h1 {
    width: 100%;
    margin: 10px 0px;
    font-family: var(--bfont);
    color: var(--bleu-color-2);
    text-transform: uppercase;
    padding: 30px;
    text-align: center;
    border-top: dashed var(--bleu-color-1) 3px;
    border-right: dashed var(--bleu-color-1) 3px;
    border-left: dashed var(--bleu-color-1) 3px;
}

main section div p {
    text-align: center;
    margin: 10px;
    color: var(--bleu-color-2);
    text-transform: uppercase;
    font-family: var(--bfont);
}

main section div hr {
    width: 90%;
    align-self: center;
    border: var(--red-color) 1px dashed;
}

main section div p a {
    color: var(--red-color);
    text-transform: uppercase;
    font-family: var(--bfont);
    font-weight: 100;
}

main section div i {
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

@media (min-width:1000px) {
    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    main section div {
        width: 33%;
    }
}

/* ---------------------------------------------------- */

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form p {
    width: 90%;
    padding: 15px 0px 15px 80px;
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: var(--red-color);
    color: rgba(255, 255, 255, 0.637);
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    width: 10%;
    border: none;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: var(--bleu-color-1);
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:1000px) {
    form p {
        padding: 30px 0px 30px 80px;
    }
}

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bleu-color-2);
}

footer ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 60px 0px 20px 0px;
}

footer ul li a {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: var(--bfont);
    text-transform: uppercase;
}

footer img {
    width: 100px;
    margin: 10px;
}

small {
    display: flex;
    color: white;
    font-weight: 100;
    line-height: 0.7cm;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--bfont);
}

/* ---------------------------------------------------- */