@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bfont: 'Londrina Solid', cursive;
    --bleu-color-1: #28dbdb;
    --bleu-color-2: #15036e;
    --red-color: #ff2e6c;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ---------------------------------------------------- */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul {}

nav img {
    width: 120px;
    margin: 20px;
}

#moyenageli a {
    color: var(--red-color);
}

#moyenageli a i {
    color: var(--bleu-color-2);
}

nav ul li a i {
    margin: 5px;
    font-size: 30px;
    color: var(--bleu-color-1);
}

nav ul li a {
    margin: 15px;
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    font-family: var(--bfont);
    text-transform: uppercase;
    color: var(--bleu-color-2);
}


@media (min-width:1000px) {
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    nav ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 25px;
    }

    nav ul li a i {
        font-size: 35px;
    }
}

/* ---------------------------------------------------- */

main {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

main section h2 {
    text-align: center;
    width: 100%;
    color: var(--bleu-color-2);
    font-family: var(--bfont);
    text-transform: uppercase;
    font-size: 2em;
    padding: 30px;
    margin-bottom: 30px;
    border: var(--bleu-color-1) dotted 3px;
    border-bottom: none;
}

main section img {
    width: 100%;
}

main section p {
    text-align: center;
    color: var(--bleu-color-2);
    font-family: var(--bfont);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.2em;
    margin: 60px 0px;
}

@media (min-width:1000px) {
    main section {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section img {
        width: 60%;
    }
}


/* ---------------------------------------------------- */

table {
    width: 90%;
    margin: 30px 0px;
    padding: 5px;
    color: var(--bleu-color-2);
    background-color: white;
    font-family: var(--bfont);
    text-transform: uppercase;
    border: 3px dashed var(--bleu-color-1);
}

table thead tr th {
    color: white;
    background-color: var(--bleu-color-1);
    padding: 20px;
    font-size: 1.3em;
}

table tbody tr td ul {
    margin-left: 20px;
    list-style: circle;
}

table tbody tr td ul li {
    font-weight: 100;
    font-size: 1.2em;
    margin: 15px;
}

table tfoot tr td {
    display: flex;
    justify-content: center;
}

table tfoot tr td strong {
    font-size: 1.3em;
    margin: 20px;
}

table tfoot tr td button {
    width: 100%;
    border: none;
    padding: 20px;
    background-color: var(--red-color);
    font-family: var(--bfont);
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}

@media (min-width:1000px) {
    table {
        width: 30%;
        margin: 30px 10px;
    }
}

/* ---------------------------------------------------- */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bleu-color-2);

}

footer ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 60px 0px 20px 0px;
}

footer ul li a {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: var(--bfont);
    text-transform: uppercase;
}

footer img {
    width: 100px;
    margin: 10px;
}

small {
    display: flex;
    color: white;
    font-weight: 100;
    line-height: 0.7cm;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--bfont);
}

/* ---------------------------------------------------- */